Flow: Workshop1
[{"id":"ebeccf7b.334f7","type":"ibmiot out","z":"de0422f0.6c5798","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"thing13","deviceType":"wemos","eventCommandType":"command","format":"text","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":1160,"y":620,"wires":[]},{"id":"8ff2f14b.d6165","type":"function","z":"de0422f0.6c5798","name":"Get Red, Green, Blue values","func":"// msg.payload is what \"comes into\" this node. This is the same for most NodeRED nodes\nvar colourInput = msg.payload; \n// In this case msg.payload comes in looking like this \"rgb(100,100,100)\" where the \n// values in the brackets ate the amount or red, green and blue light respectively \n// (on a scale of 0 to 255).\n\n// That input format is no good for us, we need to extract the individual red, \n// green, blue values... \n\n//first lets remove the beginning \"rgb(\" part of the text\ncolour = colourInput.replace('rgb(', ''); //this replaces 'rgb(' with '' ie nothing\n// now lets replace the end bracket with nothing...\ncolour = colour.replace(')', ''); \n// finally we remove all the spaces\ncolour = colour.replace(' ', '');\n// now the colour vaiable contains just the red, grren, blue values separated by \n// commas eg \"100,100,100\"\n\n// To do anything with these values we need to put them in their own variables\n// We do this by creating an array of the values which is straight forward now that \n// we have them in a comma separated string\n\nvar colourArray = colour.split(\",\"); // we create an array and use the split function\n// to put each value into the array. \n// now we can get to each value using the colourArray[x] notation where x is the \n// position in the array we want to look at. The vluae have ben put into the 0,1,2 \n// positions in the array\n\n    msg.red = colourArray[0];\n    msg.green = colourArray[1];\n    msg.blue = colourArray[2];\n\n// now when a rgb value comes into this node, the node outputs the individual \n// red, green, blue values which can be accessed by looking at\n// msg.payload.red, msg.payload.green and msg.payload.blue values\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":580,"wires":[["c70bbfc1.278238"]]},{"id":"459a7c1.273a284","type":"template","z":"de0422f0.6c5798","name":"Format Data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"stepperPosition\":{{payload}}\n}","output":"json","x":670,"y":700,"wires":[["ebeccf7b.334f7"]]},{"id":"b5b58a61.f87228","type":"template","z":"de0422f0.6c5798","name":"Format Data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"servoPosition\":{{payload}}}","output":"json","x":670,"y":640,"wires":[["ebeccf7b.334f7"]]},{"id":"c70bbfc1.278238","type":"template","z":"de0422f0.6c5798","name":"Format Data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"R\":{{red}},\n    \"G\":{{green}},\n    \"B\":{{blue}}\n}","output":"json","x":950,"y":520,"wires":[["ebeccf7b.334f7"]]},{"id":"4db2dc51.849a1c","type":"inject","z":"de0422f0.6c5798","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":580,"wires":[[]]},{"id":"d3fe9964.247fd8","type":"function","z":"de0422f0.6c5798","name":"Generate random RGB values","func":"msg.red = Math.floor((Math.random() * 256) + 0);\nmsg.green = Math.floor((Math.random() * 256) + 0);\nmsg.blue = Math.floor((Math.random() * 256) + 0);\nmsg.payload = \"rgb(\"+msg.red+\",\"+msg.green+\",\"+msg.blue+\")\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":520,"wires":[["c70bbfc1.278238","53a5bf31.6bfbb"]]},{"id":"20d4a6e7.712552","type":"inject","z":"de0422f0.6c5798","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":460,"wires":[[]]},{"id":"fcc7f423.103fc8","type":"ui_slider","z":"de0422f0.6c5798","name":"","label":"Servo","group":"f07e5ad.4501aa8","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":"0","max":"180","step":"5","x":470,"y":640,"wires":[["b5b58a61.f87228"]]},{"id":"53a5bf31.6bfbb","type":"ui_colour_picker","z":"de0422f0.6c5798","name":"","label":"LED Colour","group":"f07e5ad.4501aa8","format":"rgb","outformat":"string","showSwatch":true,"showPicker":true,"showValue":true,"showHue":false,"showAlpha":false,"showLightness":false,"dynOutput":"false","order":2,"width":"6","height":"4","passthru":true,"topic":"","x":490,"y":580,"wires":[["8ff2f14b.d6165"]]},{"id":"4fb0cf9d.0bfc","type":"ui_text_input","z":"de0422f0.6c5798","name":"","label":"Stepper Steps","group":"f07e5ad.4501aa8","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"2000","topic":"","x":500,"y":700,"wires":[["459a7c1.273a284"]]},{"id":"a9e93fb0.7b7768","type":"random","z":"de0422f0.6c5798","name":"Random between 10 and 170","low":"10","high":"170","inte":"true","property":"payload","x":270,"y":640,"wires":[["fcc7f423.103fc8"]]},{"id":"f07e5ad.4501aa8","type":"ui_group","z":0,"name":"Final","tab":"79b49559.1262b4","order":2,"disp":false,"width":"6","collapse":false},{"id":"79b49559.1262b4","type":"ui_tab","z":0,"name":"Final Result","icon":"dashboard"}]
