Flow: MegaController
[{"id":"c69a2fe0.03a53","type":"ibmiot out","z":"7016cf57.852ac","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"thing1","deviceType":"wemos","eventCommandType":"command","format":"text","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":1160,"y":340,"wires":[]},{"id":"3196514a.2a5f2e","type":"function","z":"7016cf57.852ac","name":"Get Red, Green, Blue values","func":"// msg.payload is what \"comes into\" this node. This is the same for most NodeRED nodes\nvar colourInput = msg.payload; \n// In this case msg.payload comes in looking like this \"rgb(100,100,100)\" where the \n// values in the brackets ate the amount or red, green and blue light respectively \n// (on a scale of 0 to 255).\n\n// That input format is no good for us, we need to extract the individual red, \n// green, blue values... \n\n//first lets remove the beginning \"rgb(\" part of the text\ncolour = colourInput.replace('rgb(', ''); //this replaces 'rgb(' with '' ie nothing\n// now lets replace the end bracket with nothing...\ncolour = colour.replace(')', ''); \n// finally we remove all the spaces\ncolour = colour.replace(' ', '');\n// now the colour vaiable contains just the red, grren, blue values separated by \n// commas eg \"100,100,100\"\n\n// To do anything with these values we need to put them in their own variables\n// We do this by creating an array of the values which is straight forward now that \n// we have them in a comma separated string\n\nvar colourArray = colour.split(\",\"); // we create an array and use the split function\n// to put each value into the array. \n// now we can get to each value using the colourArray[x] notation where x is the \n// position in the array we want to look at. The vluae have ben put into the 0,1,2 \n// positions in the array\n\n    msg.red = colourArray[0];\n    msg.green = colourArray[1];\n    msg.blue = colourArray[2];\n\n// now when a rgb value comes into this node, the node outputs the individual \n// red, green, blue values which can be accessed by looking at\n// msg.payload.red, msg.payload.green and msg.payload.blue values\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":340,"wires":[["ecdab31a.f84fe8"]]},{"id":"674076d2.ad3ac8","type":"template","z":"7016cf57.852ac","name":"Format Data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"stepperPosition\":{{payload}}}","output":"json","x":350,"y":460,"wires":[["1df02a5c.e58086"]]},{"id":"8e2c5286.34cb38","type":"template","z":"7016cf57.852ac","name":"Format Data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"servoPosition\":{{payload}}}","output":"json","x":350,"y":400,"wires":[["1df02a5c.e58086"]]},{"id":"89a6fa35.4dbb68","type":"ibmiot out","z":"7016cf57.852ac","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"thing2","deviceType":"wemos","eventCommandType":"command","format":"text","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":1160,"y":400,"wires":[]},{"id":"823e171f.86c3","type":"ibmiot out","z":"7016cf57.852ac","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"thing3","deviceType":"wemos","eventCommandType":"command","format":"text","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":1160,"y":460,"wires":[]},{"id":"7110abd6.5b3044","type":"ibmiot out","z":"7016cf57.852ac","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"thing4","deviceType":"wemos","eventCommandType":"command","format":"text","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":1160,"y":520,"wires":[]},{"id":"f1d95386.e1ec68","type":"ibmiot out","z":"7016cf57.852ac","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"thing5","deviceType":"wemos","eventCommandType":"command","format":"text","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":1160,"y":580,"wires":[]},{"id":"bc57cc50.e2ba5","type":"ibmiot out","z":"7016cf57.852ac","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"thing6","deviceType":"wemos","eventCommandType":"command","format":"text","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":1160,"y":640,"wires":[]},{"id":"ce4d599.efe8da8","type":"ibmiot out","z":"7016cf57.852ac","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"thing7","deviceType":"wemos","eventCommandType":"command","format":"text","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":1160,"y":700,"wires":[]},{"id":"57b804af.e2e494","type":"ibmiot out","z":"7016cf57.852ac","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"thing8","deviceType":"wemos","eventCommandType":"command","format":"text","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":1160,"y":760,"wires":[]},{"id":"1c1a11e.3f2d6ee","type":"ibmiot out","z":"7016cf57.852ac","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"thing9","deviceType":"wemos","eventCommandType":"command","format":"text","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":1160,"y":820,"wires":[]},{"id":"1313ccdd.106773","type":"ibmiot out","z":"7016cf57.852ac","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"thing10","deviceType":"wemos","eventCommandType":"command","format":"text","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":1160,"y":880,"wires":[]},{"id":"b0664631.c757c","type":"ibmiot out","z":"7016cf57.852ac","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"thing11","deviceType":"wemos","eventCommandType":"command","format":"text","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":1160,"y":940,"wires":[]},{"id":"6f719a9d.10a7bc","type":"ibmiot out","z":"7016cf57.852ac","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"thing12","deviceType":"wemos","eventCommandType":"command","format":"text","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":1160,"y":1000,"wires":[]},{"id":"1df02a5c.e58086","type":"function","z":"7016cf57.852ac","name":"Passthrough","func":"\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":340,"wires":[["c69a2fe0.03a53","89a6fa35.4dbb68","823e171f.86c3","7110abd6.5b3044","f1d95386.e1ec68","bc57cc50.e2ba5","ce4d599.efe8da8","57b804af.e2e494","1c1a11e.3f2d6ee","1313ccdd.106773","b0664631.c757c","6f719a9d.10a7bc","cef98566.a5bc28"]]},{"id":"ecdab31a.f84fe8","type":"template","z":"7016cf57.852ac","name":"Format Data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"R\":{{red}},\n    \"G\":{{green}},\n    \"B\":{{blue}}\n}","output":"json","x":630,"y":340,"wires":[["1df02a5c.e58086"]]},{"id":"cef98566.a5bc28","type":"ibmiot out","z":"7016cf57.852ac","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"thing13","deviceType":"wemos","eventCommandType":"command","format":"text","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":1160,"y":1060,"wires":[]},{"id":"7b12ec3f.4c783c","type":"ui_slider","z":"7016cf57.852ac","name":"","label":"Servo","group":"19b8ca52.78ceee","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":"0","max":"180","step":"5","x":150,"y":400,"wires":[["8e2c5286.34cb38"]]},{"id":"c0cd2f4b.5697e","type":"ui_colour_picker","z":"7016cf57.852ac","name":"","label":"LED Colour","group":"19b8ca52.78ceee","format":"rgb","outformat":"string","showSwatch":true,"showPicker":true,"showValue":true,"showHue":false,"showAlpha":false,"showLightness":false,"dynOutput":"false","order":2,"width":"6","height":"4","passthru":true,"topic":"","x":170,"y":340,"wires":[["3196514a.2a5f2e"]]},{"id":"dfb70a05.43944","type":"ui_text_input","z":"7016cf57.852ac","name":"","label":"Stepper Steps","group":"19b8ca52.78ceee","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"2000","topic":"","x":180,"y":460,"wires":[["674076d2.ad3ac8"]]},{"id":"19b8ca52.78ceee","type":"ui_group","z":0,"name":"Default","tab":"4c428e1c.bb1278","disp":true,"width":"6","collapse":false},{"id":"4c428e1c.bb1278","type":"ui_tab","z":0,"name":"Mega Controller","icon":"dashboard"}]
