Flow: Workshop 1.1
[{"id":"9112ed0a.dd39a","type":"ibmiot out","z":"15cd475.d3b90b9","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"thing13","deviceType":"wemos","eventCommandType":"command","format":"text","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":1180,"y":400,"wires":[]},{"id":"34ba5442.449a14","type":"function","z":"15cd475.d3b90b9","name":"Get Red, Green, Blue values","func":"// msg.payload is what \"comes into\" this node. This is the same for most NodeRED nodes\nvar colourInput = msg.payload; \n// In this case msg.payload comes in looking like this \"rgb(100,100,100)\" where the \n// values in the brackets ate the amount or red, green and blue light respectively \n// (on a scale of 0 to 255).\n\n// That input format is no good for us, we need to extract the individual red, \n// green, blue values... \n\n//first lets remove the beginning \"rgb(\" part of the text\ncolour = colourInput.replace('rgb(', ''); //this replaces 'rgb(' with '' ie nothing\n// now lets replace the end bracket with nothing...\ncolour = colour.replace(')', ''); \n// finally we remove all the spaces\ncolour = colour.replace(' ', '');\n// now the colour vaiable contains just the red, grren, blue values separated by \n// commas eg \"100,100,100\"\n\n// To do anything with these values we need to put them in their own variables\n// We do this by creating an array of the values which is straight forward now that \n// we have them in a comma separated string\n\nvar colourArray = colour.split(\",\"); // we create an array and use the split function\n// to put each value into the array. \n// now we can get to each value using the colourArray[x] notation where x is the \n// position in the array we want to look at. The vluae have ben put into the 0,1,2 \n// positions in the array\n\n    msg.red = colourArray[0];\n    msg.green = colourArray[1];\n    msg.blue = colourArray[2];\n\n// now when a rgb value comes into this node, the node outputs the individual \n// red, green, blue values which can be accessed by looking at\n// msg.payload.red, msg.payload.green and msg.payload.blue values\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":360,"wires":[["cf96160c.99931"]]},{"id":"1c7d656b.13a20b","type":"template","z":"15cd475.d3b90b9","name":"Format Data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"stepperPosition\":{{payload}}\n}","output":"json","x":690,"y":480,"wires":[["9112ed0a.dd39a"]]},{"id":"c98b5437.626c78","type":"template","z":"15cd475.d3b90b9","name":"Format Data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"servoPosition\":{{payload}}}","output":"json","x":690,"y":420,"wires":[["9112ed0a.dd39a"]]},{"id":"cf96160c.99931","type":"template","z":"15cd475.d3b90b9","name":"Format Data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"R\":{{red}},\n    \"G\":{{green}},\n    \"B\":{{blue}}\n}","output":"json","x":970,"y":360,"wires":[["9112ed0a.dd39a"]]},{"id":"64535b4.1a5ea24","type":"ui_slider","z":"15cd475.d3b90b9","name":"","label":"Servo","group":"f07e5ad.4501aa8","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":"0","max":"180","step":"5","x":490,"y":420,"wires":[["c98b5437.626c78"]]},{"id":"74c0bf4a.09b7c8","type":"ui_colour_picker","z":"15cd475.d3b90b9","name":"","label":"LED Colour","group":"f07e5ad.4501aa8","format":"rgb","outformat":"string","showSwatch":true,"showPicker":true,"showValue":true,"showHue":false,"showAlpha":false,"showLightness":false,"dynOutput":"false","order":2,"width":"6","height":"4","passthru":true,"topic":"","x":510,"y":360,"wires":[["34ba5442.449a14"]]},{"id":"34e9cc12.a5ca3c","type":"ui_text_input","z":"15cd475.d3b90b9","name":"","label":"Stepper Steps","group":"f07e5ad.4501aa8","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"2000","topic":"","x":520,"y":480,"wires":[["1c7d656b.13a20b"]]},{"id":"b57be4fd.670fb","type":"comment","z":"15cd475.d3b90b9","name":"Open this and set the device ID to your Device ID","info":"","x":1300,"y":360,"wires":[]},{"id":"f07e5ad.4501aa8","type":"ui_group","z":0,"name":"Final","tab":"79b49559.1262b4","order":2,"disp":false,"width":"6","collapse":false},{"id":"79b49559.1262b4","type":"ui_tab","z":0,"name":"Final Result","icon":"dashboard"}]
